.install.grpc-gateway
.install.protoc-gen-go
protoc/bin
protoc/include
protoc/protoc.zip
protoc/readme.txt
.install.tools
proto/**/.done
proto/v1beta1/*_go_proto/
proto/v1/*_go_proto/
cel/syntax.proto
*.pb.go
*.pb.gw.go
protodeps/*
ca.crt
ca.key
server.crt
server.csr
server.key
server.p12
server.pem
