.install.grpc-gateway
.install.protoc-gen-go
protoc/bin
protoc/include
protoc/protoc.zip
protoc/readme.txt
.install.tools
proto/**/.done
proto/v1alpha1/*.pb.go
proto/v1alpha1/*.pb.gw.go
cel/syntax.proto
protodeps/*
ca.crt
ca.key
server.crt
server.csr
server.key
server.p12
server.pem
test/utilities
